.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  background-color: #ddd;
  min-height: 6vh;
  bottom: 0px;
  left: 0px;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  font-family: 'Sanchez', serif;
  font-size: 13px;
  background: linear-gradient(#868FCB, #bbb);
}
