.login {
  height: 100%;
  margin-top: 80px;
  font-size: 20px;
  height: 85vh;
  max-width: 100vw;
  min-height: 400px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#A1A5C1, #bbb);
  font-family: 'Sanchez', serif;
}
.login img {
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  z-index: 0;
  opacity: 0.3;
  top:0;
  left:0;
}

.login input {
  border-radius: 5px;
  min-height: 40px;
  min-width: 200px;
  font-family: 'Sanchez', serif;
  font-size: 15px;
  z-index: 1;
}

.login button {
  min-width: 200px;
  min-height: 40px;
  margin-top: 20px;
  border-radius: 5px;
  font-family: 'Sanchez', serif;
  background: linear-gradient(#A1A5C1, #bbb);
  font-size: 15px;
  z-index: 1;
}
.login button:hover {
  background: linear-gradient(#bbb, #A1A5C1);
}
